<head itemtype="http://schema.org/WebSite" itemscope>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
	/>
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />

	<title><%=title%></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="canonical" href="" />

  <style>
    body:after {
      display: block;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 1000;
    }
  </style>
  <link
		media="none"
		onload="if(media!='all') media='all'"
		type="text/css"
		rel="stylesheet"
		href="/dist/css/styles.css"
  />
</head>
