html,
body {
  height: 100%;
  min-height: 100vh;
  min-width: 20rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  fill: currentColor;
}

body {
  &:after {
    display: none;
  }
}

.no-transition * {
  transition: none !important;
}

.container {
  &-fluid {
    max-width: 1176px;
  }

  &,
  &-fluid {
    @include media-breakpoint-down(sm) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.row {
  @include media-breakpoint-up(md) {
    margin-right: -12px;
    margin-left: -12px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: -8px;
    margin-left: -8px;
  }

  & > .col,
  & > [class*="col-"] {
    @include media-breakpoint-up(md) {
      padding-right: 12px;
      padding-left: 12px;
    }
    @include media-breakpoint-down(sm) {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.wrapper {
  @include media-breakpoint-up(md) {
    padding: 112px 0 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 64px 0 0;
  }
}

img {
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  display: block;

  &[data-src] {
    opacity: 0;

    &:not(.initial) {
      transition: all 0.4s ease 0s;
    }

    &.initial,
    &.loaded,
    &.error,
    &[lazy="loaded"] {
      opacity: 1;
    }
  }

  &.swiper-lazy {
    opacity: 0;
    transition: all 0.4s ease 0s;
  }

  &.swiper-lazy-loaded {
    opacity: 1;
  }
}

.lazy-bg {
  opacity: 0;
  transition: all 0.4s ease 0s;

  &[lazy="loaded"] {
    opacity: 1;
  }
}

a {
  transition: color 0.3s ease 0s;

  &:focus {
    outline: none;
  }

  &[disabled] {
    pointer-events: none;
  }
}
